<section id="about" class="section-padding about-section">
  <div class="title-head">
    <h1>About Me</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 bg-white">
        <div class="section-img">
          <div class="about-img">
            <div class="box-overlay"></div>
            <img src="../../assets/image/k.jpg" alt="">
          </div>
          <div class="social">
            <a href="#" class="scl-btn scl-crcl shadow fab fa-facebook-f"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-twitter"></a>
            <a href="https://www.linkedin.com/in/kaoutar-makdad-9011751ab/" target="_blank" class="scl-btn scl-crcl shadow fab fa-linkedin-in"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-google"></a>
          </div>
        </div>
      </div>
      <div class="col-md-7 offset-1 ">
        <div class="home-button">
          <button type="button" class="btn">
            <a href="../../assets/cv_makdad.pdf" target="_blank">
              <i class="fa fa-download"></i>   Download CV
            </a>
          </button>
        </div>
        <div class="about-me_section">
          <div class="section_title">
            <div class="section_subtitle">JAVA &amp; JEE Developper</div>
            <h2 class="section_main_title">I'm
              <strong> MAKDAD Kaoutar</strong>
            </h2>
          </div>
          <div class="about-item">
            <p class="text-justify">
              {{data.resume.description}}
            </p>
          </div>
        </div>
        <div class="about-progBar">
          <div class="row">
            <div class="col-md-6 ">
              <div class="cirleprogressbar" data-animate="false">
                <div class="circle" data-percent="80">
                  <div></div>
                </div>
              </div>
              <h4>Creativity</h4>
            </div>
            <div class="col-md-6">
              <div class="cirleprogressbar" data-animate="false">
                <div class="circle" data-percent="90">
                  <div></div>
                </div>
              </div>
              <h4>Adaptability</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
