<section id="skills">
  <div class="title-head">
    <h1>Skills &amp; Tools</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="development-wrapper">
          <h2 class="development-title">Back-End</h2>
          <ul class="skills-bar-container">
            <li>
              <div class="progressbar-title">
                <h3>JAVA</h3>
              </div>
              <div class="bar-container" data-percent="90">
                <span class="progressbar" id="progress-html"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>JEE</h3>
              </div>
              <div class="bar-container" data-percent="75">
                <span class="progressbar" id="progress-css"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>Spring (MVC, BOOT, Security)</h3>
              </div>
              <div class="bar-container" data-percent="70">
                <span class="progressbar" id="progress-php"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>C/C++</h3>
              </div>
              <div class="bar-container" data-percent="50">
                <span class="progressbar" id="progress-angular"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="development-wrapper">
          <h2 class="development-title">Front-End</h2>
          <ul class="skills-bar-container">
            <li>
              <div class="progressbar-title">
                <h3>HTML5 / CSS3</h3>
              </div>
              <div class="bar-container" data-percent="85">
                <span class="progressbar" id="progress-html"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>Bootstrap</h3>
              </div>
              <div class="bar-container" data-percent="85">
                <span class="progressbar" id="progress-css"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>JavaScript / jQuery</h3>
              </div>
              <div class="bar-container" data-percent="75">
                <span class="progressbar" id="progress-javascript"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>Angular 8</h3>
              </div>
              <div class="bar-container" data-percent="55">
                <span class="progressbar" id="progress-angular"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tools-knowledge-wrapper">
      <div class="knowledge-wrapper">
        <h2 class="title">Others</h2>
        <ul class="knowledge">
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">JSF</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Servlet/JSP</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">EJB</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">MySQL</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">NoSQL</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Hadoop</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Spark</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Cassandra</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Tomcat Server</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">GlassFish Server</span>
        </ul>
        <ul class="knowledge">
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">UML</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Maven</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Design Pattern</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Agile Scrum</span>
          <span class="badge badge-pill shadow-lg p-2 mb-2 ">Git</span>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>
